:root{
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);

--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%)
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--Cream);
    font-family: Montserrat;
}

/*TYPOGRAPHY*/

h1,h2,h3,p{
    max-width: 300px;
}

h1{
    font-family: Fraunces;
}

h2{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    color: var(--Grey);
}

p{
    font-weight: 500;
    color: var(--Grey);
    margin: 0;
}

.price{
    color: var(--Green-500);
}








main{
    display: flex;
    border-radius: 0.5rem;
    height: 450px;
    padding: 20px;
    margin: auto;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    display: block;
    border-radius: 0.5rem 0 0 0.5rem;
}
.product-img{
    flex: 1;
}

.info-section{
    background-color: var(--White);
    flex: 1;
}

.hug{
    margin: 2rem;
}

.price-section{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

button{
    color: var(--White);
    background-color: var(--Green-500);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    height: 50px;
    border: none;
    font-family: Montserrat;
    border-radius: 0.5rem;
}

button:hover, button:active{
    background-color: var(--Green-700);
}

button img{
    margin-right: 10px;
}

@media (max-width:680px) {
    .product-info-text{
        font-size: 0.9rem;
    }
}


@media (max-width:450px) {
    main{
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 40px;
    }
    .product-img img{
        height: 350px;
        object-fit: cover;
        object-position: 50% 30%;
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .product-info-text{
        font-size: 1rem;
    }
}